<h2>Product</h2>
<div class="container">
  <div *ngFor="let product of products; index as productId">
    <h3>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', productId]"
      >
        {{ product.name }}
      </a>
    </h3>
    <a [routerLink]="['/products', productId]">
    <img [src]="product.url" alt="phone-img">
  </a>

    <p *ngIf="product.description">Description: {{ product.description }}</p>
    <button (click)="share()">Share</button>

    <app-product-alert [product]="product" (notify)="onNotify()">
    </app-product-alert>
  </div>
</div>
